.container
  %ul
  - @article.errors.full_messages.each do |message|
    %li= message
  = form_with(model: @article, url: articles_path, method: 'post', local: true) do |f|
    .new_top_content
      .cancel_btn
        = link_to root_path do
          Cancel
      .new_header
        Status
      .post_btn
        = f.submit 'Post', class: 'btn-thirdry'
    .post_user_introduction
      = image_tag current_user.avatar_image
      .post_user_name
        = current_user.account
    %div 
      = f.text_area :content, placeholder: "What's on your mind ?"

