.container
  .top_element
    = link_to new_article_path do
      .camera_icon
        %i.fas.fa-camera
    - if user_signed_in?
      .index_detail_actions
        .dropdown
          = image_tag current_user.avatar_image, class: 'index_avatar_dropbtn'
          .dropdown-content.mini
            = link_to 'プロフィール', profile_path
            = link_to 'お気に入り', favorites_path
            = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
    - else
      = link_to 'ログイン', new_user_session_path, class: 'index_loginBtn'
  - articles.each do |article|
    = render 'commons/article', article: article

= javascript_pack_tag 'article'