.card#card-show{data: {article_id: article.id}}
  .card_top
    .card_user_avatar
      = link_to account_path(article.user) do
        = image_tag article.user.avatar_image
    .card_top_element
      .card_user_name
        = link_to account_path(article.user) do
          = article.user.account
      .card_user_post_time
        %p= article.display_created_at
    - if user_signed_in? && current_user.has_written?(article)
      .article_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_article_path(article)
            = link_to '削除する', article_path(article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  .card_content
    .card_image
      - if article.images.attached?
        - article.images.each do |image|
          = image_tag image
    .card_option
      - if user_signed_in?
        .card_heart.hidden.active-heart
          %i.fas.fa-heart{:style => "color:red;></i>"}
        .card_heart.hidden.inactive-heart
          %i.far.fa-heart
      = link_to new_article_comment_path(article) do
        .card_do_comment
          %i.far.fa-comment-dots
      .card_share
        %i.fa.fa-share-alt{"aria-hidden" => "true"}
    .card_detail
      .card_context_user_name
        = article.user.account
      .card_context
        = article.content
  = link_to 'コメントを表示', article_comment_path(article_id: article.id, id: article.comments)
= javascript_pack_tag 'article'
