= image_tag 'Rectangle.png', class: 'top_image'
.container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, class: 'devise_label'
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'devise_form'
    %hr/
    .field
      = f.label :password, class: 'devise_label'
      = f.password_field :password, autocomplete: "current-password", class: 'devise_form'
    %hr/
    .actions
      = f.submit "LOGIN", class: 'btn-secondary'
  = render "devise/shared/links"
